<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Textualize - Understand your Images</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <div class="row margin-top">
            <div class="col-12 text-center">
            <img src="static/textualize_logo.png"/>    
                <h4><i>Understand your Images</i></h3>
            </div>
        </div>   
        <section>
            {% block content %}{% endblock %}
        </section>     
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"/>
	<script lang="Javascript">
		window.onload = function{
			audioElem = document.getElementById("audioFile");
			if(audioElem)
				audioElem.play();
	</script>
</body>
</html>
